@font-face {
  font-family: "iconfont"; /* Project id 4834136 */
  src: url('iconfont.woff2?t=1740103958841') format('woff2'),
       url('iconfont.woff?t=1740103958841') format('woff'),
       url('iconfont.ttf?t=1740103958841') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e61e";
}

.icon-arrow:before {
  content: "\e60d";
}

